<%- include('layout/header', { title: 'Blog - my space', isNav: true, list: true })%>

<div class="container margin-top-20">
    <div class="row">
        <!-- Left start -->
        <div class="col-8">
            <h4 class="margin-bottom-20 padding-bottom-10 border-bottom"><%= userData.userInfo.userName %> space</h4>

            <% if (blogData.isEmpty) { %>
                <div>
                    <center>No data</center>
                </div>
            <% } else { %>
                <!-- Blog list first page -->
                <div id="container-weibo-list" class="weibo-list">
                    <%- include('widgets/blog-list', {
                        blogList: blogData.blogList
                    })%>
                </div>
                <!-- Blog list end -->
                <!-- Load more -->
                <% if (blogData.count > blogData.blogList.length) { %>
                    <%- include('widgets/load-more', {
                        pageSize: blogData.pageSize,
                        pageIndex: blogData.pageIndex,
                        count: blogData.count,
                        containerSelector: '#container-weibo-list',
                        api: '/api/profile/loadMore/' + userData.userInfo.userName,
                    })%>
                <% } %> 
                <!-- Load more end -->
            <% } %>
        </div>
        <!-- Left end -->

        <!-- Right start -->
        <div class="col-4">
            <!-- Personal information -->
            <div class="right-item">
                <%- include('widgets/user-info', {
                    userInfo: userData.userInfo,
                    isMe: userData.isMe,
                    amIFollowed: userData.amIFollowed,
                    atCount: userData.atCount
                });%>
            </div>

            <!-- Followers -->
            <%- include('widgets/followers', {
                count: userData.followersData.count,
                userList: userData.followersData.list
            })%>

            <!-- Following -->
            <%- include('widgets/following', {
                count: userData.followingData.count,
                userList: userData.followingData.list
            })%>

        </div>
        <!-- Right end -->
    </div>
</div>

<%- include('layout/footer')%>
Î